{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "",
    "FUNCTIONS_EXTENSION_VERSION": "~4",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "e7eb3ad3-781e-4507-9ead-9bcdecca729e",
    "ENABLE_ORYX_BUILD": "true",
    "SCM_DO_BUILD_DURING_DEPLOYMENT": "1",
    "BUILD_FLAGS": "UseExpressBuild",
    "XDG_CACHE_HOME": "/tmp/.cache"
  },
  "Host": {
    "CORS": "*"
  }
}
